.commentItem {
  margin: auto;
}

.h2 {
  text-align: center;
}

.h3 {
  text-align: center;
}

.h4 {
  text-align: center;
}

.card {
  margin: 10px 0px 10px 0px;
  cursor: pointer;
}

.spinner {
  margin: 20px 0;
}
